PORT=4000
MONGODB_URI=mongodb+srv://chainuocngot:chainuocngot@sticker-tracker.htf3ory.mongodb.net/?appName=sticker-tracker
BASE_TRACKING_URL=http://localhost:4000
# Comma-separated list is supported, example:
# CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://your-fe.vercel.app
CORS_ORIGIN=*
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1498211581308174440/vHry3lEP9KF5c33jfuPHjg2hP4YdP5xrHK79z377r3OuByAT4XpaGLJCwOIjveYqIYkp
